<!DOCTYPE html>
<html ng-app="swole">
<head>
  <title>Swole with Code</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script type="text/javascript" src="swoleWithCode.js"></script>
  <link rel="stylesheet" type="text/css" href="swoleWithCode.css">
</head>
<body ng-controller="swoleController as swoleCtrl">
  <h1>Getting Swole with Code</h1>
  <form>
  <!--     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-model="muscleGroup">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul> -->
      <input type="text" placeholder="Exercise Name" ng-model="exerciseName">
      <input type="date" placeholder="Enter Date" ng-model="date">
      <input type="text" placeholder="Weight" ng-model="weight">
      <input type="text" placeholder="Reps" ng-model="reps">
      <button type="button" ng-click="add()">Add</button>
    </form>
    <br>
          {{swoleCtrl.details}}
    <table class="table table-condensed">
      <thead>
          <td>Date</td>
          <td>Muscle Group</td>
          <td>Exercise</td>
          <td>Weight</td>
          <td>Reps</td>
      </thead>

      <tr ng-repeat="x in details">
        <td>{{ x.date  }}</td>
        <td>{{ x.muscleGroup }}</td>
        <td>{{ x.exerciseName }}</td>
        <td>{{ x.weight }}</td>
        <td>{{ x.reps }}</td>
      </tr>
    </table>
</body >
</html>
